:root {
    --clr-primary-1:hsl(322, 100%, 66%);
    --clr-neutral-1:hsl(193, 100%, 96%);
    --clr-neutral-2:hsl(192, 100%, 9%);
    --clr-neutral-3:hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.heading {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.p-align {
    text-align: center;
}

/* header */

.header {
    background-image: url(../images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--clr-neutral-1);
    padding: 2em 1em 2em 1em;

    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr 1fr;
    row-gap: 1em;
    grid-template-areas: 
    'lg lg .. .. b1 b1'
    '.. .. .. .. .. ..'
    'h1 h1 h1 h1 h1 h1'
    'hp hp hp hp hp hp'
    '.. b2 b2 b2 b2 ..'
    '.. .. .. .. .. ..'
    'he he he he he he';
}

.main-logo {
    grid-area: lg;
}

.main-logo-img {
    width: 100%;
}

.b1 {
    grid-area: b1;
    text-align: right;
}

.heading-main {
    grid-area: h1;
    font-size: 1.5em;
    padding: .5em;
}

.header-p {
    grid-area: hp;
}

.b2 {
    grid-area: b2;
}

.hero-img {
    grid-area: he;
    width: 100%;
}

/* buttons */

.button {
    text-decoration: none;
    font-weight: 700;
    padding: .25em 2em;
    margin: auto;
    text-align: center;
    border-radius: 2em;
    
}

.button-white {
    background-color: #ffffff;
    color: #000000;
    font-size: .5em;
}

.button-pink {
    background-color: var(--clr-primary-1);
    color: #ffffff;
    font-size: .75em;
}

.button1
{
    box-shadow: 0 .05em .2em lightgray;
}

.button2 {
    box-shadow: .2em .2em .4em pink;
    padding: .25em 3em;
}

.button3 {
    box-shadow: 0 .2em .2em var(--clr-neutral-1);
}

.button:hover,
.button:focus {
    opacity: .5;
    transition: all 0.2s linear;
}

/* content */

.content {
    /* padding: 0 2em; */
    display: flex;
    flex-direction: column;
}

.content-card {
    display: flex;
    flex-direction: column-reverse;

    margin: 1.5em 1em;
    border-radius: 1em;
    box-shadow: 0 0 .5em var(--clr-neutral-2);
}



.content-img {
    width: 80%;
    display: block;
    margin: auto;
    padding: 3em .5em;
}

.heading-secondary {
    font-size: 1.75en;
    padding: 1em 0;
}

.content-p {
    color: var(--clr-neutral-3);
    padding: 0 2em 2em 2em;
    font-size: .8em;
}


.content-card4 {
    margin: 0 .75em;

    text-align: center;
    background-color: #ffffff;
    border-radius: .75em;
    padding: 0 0 3em 0;

    position: relative;
    top: 4em;
}

.heading-tertiary {
    font-size: 1em;
    padding: 2em 0 2em 0;
}


/* footer */

.footer {
    background-color: var(--clr-neutral-2);
    color: #ffffff;
    padding: 8em 1em 2em 1em;

    display: grid;
    grid-template-columns: 1em auto 1em;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-areas: 
    'sl sl ..'
    'g1 g2 ..'
    'p1 p2 ..'
    'm1 m2 ..'
    '.. .. ..'
    'lk lk ..'
    '.. .. ..'
    '.. sm ..'
    '.. cr ..'
    '.. rm ..';
}

.secondary-logo {
    grid-area: sl;
    filter: brightness(0) invert(1);
    width: 50%;
}

.footer-p {
    font-size: .75em;
}

.footer-img {
    height: 1em;
}

.location-img {
    grid-area: g1;
    padding-top: .25em;
}

.location-txt {
    grid-area: g2;
}

.phone-img {
    grid-area: p1;
    padding-top: .25em;
}

.phone-txt {
    grid-area: p2;
}

.email-img {
    grid-area: m1;
    padding-top: .25em;
}

.email-txt {
    grid-area: m2;
}

.footer-links {
    grid-area: lk;
    display: flex;
    flex-direction: column;
}

.fl {
    display: flex;
    flex-direction: column;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
    padding-top: 1em;
}

.footer-social-medias {
    grid-area: sm;
    display: flex;
    margin: auto; 
}

.footer-social-media {
    box-sizing: content-box;
    filter: brightness(0) invert(1);
    height: 1em;
    width: 1em;
    margin: 0 .5em;
    border: #ffffff 1px solid;
    border-radius: 50%;
    padding: .25em;
}

.copyright {
    grid-area: cr;
}

.copy {
    text-align: center;
    font-size: .5em;
}

.remove-me {
    grid-area: rm;
}

.attribution {
    text-align: center;
    font-size: .5em;
}

/* add footer hover efects */

/* @ medias */

@media screen and (min-width: 376px) {
    
    .heading {
        text-align: left;
    }

    .p-align {
        text-align: left;
    }

    /* content */

    .header {
        background-image: url(../images/bg-hero-desktop.svg);
        padding: 2em 3em 2em 3em;
        grid-template-areas: 
        'lg .. .. .. .. b1'
        '.. .. .. .. .. ..'
        'h1 h1 h1 he he he'
        'hp hp hp he he he'
        'b2 b2 .. he he he'
        '.. .. .. he he he';
    }
    
    .button1 {
        /* fix buttons */
    }

    .heading-main {
        font-size: 2.5em;
        padding: 2em 2em 0 0;
    }
    
    .header-p {
        padding-right: 4em;
    }
    
    .button2 {
        /* fix buttons */
    }

    .content-card {
        flex-direction: row;
    
        margin: 1.5em 3em;
    }

    .content-card2 {
        flex-direction: row-reverse;
    }

    .box {
        margin: auto;
        padding-left: 5em;
        padding-right: 2em;
    }

    .content-img {
        width: 50%;
        padding-left: 5em;
        padding-right: 2em;
    }

    .heading-secondary {
        font-size: 2em;
        padding: 1em 0;
    }
    
    .content-p {
        color: var(--clr-neutral-3);
        padding: 0;
        font-size: 1em;
    }

    .content-card4 {
        margin: 0 20em;
    }
    
    .heading-tertiary {
        font-size: 1.5em;
        padding: 2em 0 1em 0;
    }

    /* footer */

    .footer {
        padding: 8em 4em 2em 4em;

        grid-template-columns: 1em 2fr 2fr 1.5fr;
        column-gap: .5em;
        row-gap: 1em;
        grid-template-areas: 
        'sl sl .. ..'
        'g1 g2 lk sm'
        'p1 p2 lk sm'
        'm1 m2 lk cr'
        'rm rm rm rm';
    }

    .footer-links {
        padding: 0 5em;
        flex-direction: row;
        justify-content: space-between
    }
    
    .footer-link {
        padding-top: 0;
        padding-bottom: 1em;
    }

    .footer-social-medias {
        display: flex;
        margin: 0; 
    }

    .copy {
        text-align: left;
        font-size: .5em;
        padding-left: .5em;
    }
}